<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 3</title>
    <style type="text/css">
        body {
            background-color: #ccc;
            margin: 0;
        }

        .main_content {
            background-color: #fff;
            max-width: 960px;
            margin: 10px auto;
        }

        form {
            margin: 20px;
            padding: 20px 0;
        }

        .error {
            outline: 2px solid red;
        }

        header {
            background-color: #fff;
            height: 42px;
            padding: 10px 0;
            margin-bottom: 20px;
        }

        #header_content {
            display: flex;
            min-height: 42px;
            width: 960px;
            margin: 0 auto;
            font-family: "Droid Sans Mono", sans-serif;
        }

        #login_name {
            flex: 1;
            justify-content: center;
            padding-top: 8px;
            font-size: 16px;
        }

        #title {
            flex: 5;
            font-size: 28px;
            text-align: center;
        }

        #log_btn {
            flex: 1;
            text-align: end;
            justify-content: center;
            padding-top: 8px;
            font-size: 16px;
        }

        #table_title {
            display: flex;
            padding: 5px 15px;
        }

        #table_title h3 {
            flex: 1;
        }

        #table_body {

            width: 930px;
            margin: 0 auto;
            padding: 15px 0;


        }

        .message_error {
            font-size: 12px;
            color: #ff4f56;
            padding: 5px;
        }

        #saved_message {
            color: #21b54f;
        }

        th, td {
            background-color: lightgrey;
            padding: 5px;
        }

        #new_form_btn {
            text-align: center;
            margin: 0 auto;
            padding: 10px;
        }

    </style>
</head>
<body>

<header>
    <div id="header_content">
        <div id="login_name"> {% if sess_login %} {{ sess_login }} {% endif %}</div>
        <div id="title">KamiexForms</div>
        <div id="log_btn"> {% if is_auth %}
            <a href="/task3/logout">Выход</a>
            {% else %}
            <a href="/task3/login">Вход</a>
            {% endif %}
        </div>
    </div>
</header>

{% if 'user_generated' in cookies %}
    <div class="main_content">
    <div style="padding: 10px">
        Создан новый пользователь.
        <br>
        Логин: {{ cookies['login'] }}
        <br>
        Пароль: {{ cookies['passwd'] }}
    </div>
    </div>
{% endif %}

{% if cookies['saved'] == 'True' %}
    <div id="saved_message" class="main_content">
        <p style="padding: 10px">Данные успешно сохранены!</p>
    </div>
{% endif %}

{% if is_auth %}
    <div class="main_content">
        <div id="table_title">
            <h3>Мои формы:</h3>
            <h3 style="text-align: end">{{ recs['records']|length }}</h3>
        </div>
        <hr>
        <table id="table_body">
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Email</th>
                <th>Year</th>
                <th>Gender</th>
                <th>Choose</th>
            </tr>
            {% for r in recs['records'] %}
                <tr>
                    <td style="text-align: center"> {{ loop.index }}</td>
                    <td>{{ r.name }}</td>
                    <td>{{ r.email }}</td>
                    <td>{{ r.year }}</td>
                    <td>{{ r.gender }}</td>
                    <td style="text-align: center">
                        <input type="button" onclick="location.href='/task3/set_form/{{ r.id }}'" value="Выбрать">
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div id="new_form_btn">
            <input type="button" onclick="location.href='/task3/set_form/0'" value="Создать новую форму.">
        </div>
    </div>
{% endif %}

<div class="main_content">


            <form id="entity_form" method="POST" action="/task3/">

                <label>
                    Имя:<br />
                    <input name="entity_name"
                           id="entity_name"
                           placeholder="Иван Иванов"
                           {% if 'entity_name' in cookies %}value="{{ cookies['entity_name'] }}"{% endif %}
                           {% if 'entity_name' in errors%}class="error"{% endif %} />
                </label>

                {% if 'entity_name' in incor %}
                    <div class="message_error">Можно использовать только буквы и знак пробела</div>
                {% endif %}

                <br />

                <label>
                    E-mail:<br />
                    <input name="entity_email"
                           id="entity_email"
                           placeholder="email@example.com"
                           {% if 'entity_email' in cookies %}value="{{ cookies['entity_email'] }}"{% endif %}
                           {% if 'entity_email' in errors%}class="error"{% endif %} />
                </label><br />

                {% if 'entity_email' in incor %}
                    <div class="message_error">Должно соответствовать формату email</div>
                {% endif %}

                <label>
                    Дата рождения:<br />
                    <select name="entity_birth">
                        {% for i in range(1900, 2000) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                        <option value="2000" selected>2000</option>
                        {% for i in range(2001, 2021) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </label><br />

                Пол:<br />
                <label><input type="radio" checked="checked"
                              name="gender-group" value="male" />
                    Мужской</label><br />
                <label><input type="radio"
                              name="gender-group" value="female" />
                    Женский</label><br />
                <label><input type="radio"
                              name="gender-group" value="xenos" />
                    Другое</label><br />
                <br />

                Количество конечностей:<br />
                <label><input type="radio" checked="checked"
                              name="limbs" value="first_range" />
                    1 - 2</label><br />
                <label><input type="radio"
                              name="limbs" value="second_range" />
                    3 - 4</label><br />
                <label><input type="radio"
                              name="limbs" value="xenos_range" />
                    Больше</label><br />
                <br />

                <label>
                    Сверхспособности:
                    <br />
                    <select id="superpowers" name="superpowers"
                            multiple="multiple"
                           {% if 'superpowers' in errors%}class="error"{% endif %}>
                        <option value="immortality">Бессмертие</option>
                        <option value="de_materialism">Прохождение сквозь стены</option>
                        <option value="levitation">Левитация</option>
                    </select>
                </label><br />
                <br />

                <label>
                    Биография:<br />
                    <textarea name="bio" {% if 'bio' in errors%}class="error"{% endif %}></textarea>
                </label><br />
                <br />

                <label>
                    <input id="check" type="checkbox" name="check" {% if 'check' in errors%}class="error"{% endif %}/>
                    с контрактом ознакомлен</label><br />
                <br />

                <input type="submit" value="Отправить" />

            </form>
        </div>
</body>
</html>